<!--<ngui-map style="height:500px; width:70%;"-->
  <!--zoom="7"-->
  <!--center="Netherlands">-->

<!--</ngui-map>-->

<div>{{arr}}</div>


<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor='let r of results; let i = index' [attr.data-index]="i">
              [latitude]="r.lat"
              [longitude]="r.lon">
    <div> Ewa {{r.lon}} </div>
    <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
      <ng-template>
        My first Snazzy Info Window!
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
  <agm-circle *ngFor="let c of jsonLatlon.data; let i = index"
              [latitude]="c.lat"
              [longitude]="c.lng"
              [radius]="c.radius"
              [fillColor]="c.colour">

  </agm-circle>
  <div id="legend"><h3>Legend</h3></div>
</agm-map>
